h5 {
    text-align: center;
}
#buscador{
    align-content: center;
    margin-left: 820px;
}
.gatos {
    display: flex;
    justify-content: center;
}

img {
    max-width: 100px;
    max-height: 100px;
}