h5 {
    text-align: center;
}
#buscador{
    align-content: center;
    margin-left: 820px;
}
.gatos {
    margin: 20%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

}

img {
    max-width: 300px;
    max-height: 300px;
}
.center-div{
    margin: 20px;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
}